<tr>
    
  <th scope="row">Mid Term</th>
  <td>{{boyreport_show.IRE_Mid}}</td>
  <td>{{boyreport_show.Arabic_Mid}}</td>
  <td>{{boyreport_show.Somali_Mid}}</td>
  <td>{{boyreport_show.English_Mid}}</td>
  <td>{{boyreport_show.Math_Mid}}</td>
  <td>{{boyreport_show.Physics_Mid}}</td>

  <td>{{boyreport_show.Biology_Mid}}</td>
  <td>{{boyreport_show.Geography_Mid}}</td>
  <td>{{boyreport_show.History_Mid}}</td>
  <td>{{boyreport_show.ICT_Mid}}</td>
  <td>{{boyreport_show.Business_Mid}}</td>
  <td>{{boyreport_show.Total_Mid}}</td>

</tr>
<hr>
<tr>
  <th scope="row">Final</th>
    <td>{{boyreport_show.IRE}}</td>
  <td>{{boyreport_show.Arabic}}</td>
  <td>{{boyreport_show.Somali}}</td>
  <td>{{boyreport_show.English}}</td>
  <td>{{boyreport_show.Math}}</td>
  <td>{{boyreport_show.Physics}}</td>
  <td>{{boyreport_show.Biology}}</td>
  <td>{{boyreport_show.Geography}}</td>
  <td>{{boyreport_show.History}}</td>
  <td>{{boyreport_show.ICT}}</td>
  <td>{{boyreport_show.Business}}</td>
  <td>{{boyreport_show.Total}}</td>

</tr>